@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
    var req = HttpContext.Request;
    var fullUrl = $"{req.Scheme}://{req.Host}{req.Path}{req.QueryString}";
    var remoteIp = HttpContext.Connection.RemoteIpAddress?.ToString();
}

<div class="text-center">
    <h1 class="display-4">Hello from .NET 8.1</h1>
    <p><strong>Request URL:</strong> @fullUrl</p>
    <p><strong>Remote IP:</strong> @(remoteIp ?? "(unknown)")</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core Test</a>.</p>
    <hr />
    <div>Host operating system: @Model.OSVersion</div>
</div>
